* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  margin: 20px auto;
  max-width: 1300px;
}

header {
  text-align: center;
}

.movie-container, .series-container {
  display: flex;
  width: 100%;
  min-height: 500px;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.movie, .serie {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
  border: solid 2px #000;
}

.box-image, .copertina {
  width: 40px;
  margin-top: 5px;
}

.yellow-star {
  color: yellow;
  font-size: 25px;
}
