<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>BoolFlix</title>
  </head>
  <body>
    <div id="app" class="container">
      <header>
        <div class="inner-header">
          <div class="logo-bool">
            <img src="image/logo-bool.png" alt="">
          </div>
          <div class="menu-scelta">
            <div v-for="(element, index) in scelte" @click="changeTab(index)" :class="selectedTab(index)">
              {{element}}
            </div>
          </div>
          <div class="search">
            <input @keyup.enter="searchAll" type="text" placeholder="cerca qualcosa..." v-model="query">
            <div class="btn-search" @click="searchAll">
              Cerca <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="alert-risultati">{{resultFor}}</div>
        </div>
      </header>

      <main>
        <!-- container card-->
        <div class="card-container">
          <!-- singola card -->
          <div v-for="(element, index) in listaDaMostrare" class="card">
            <div class="copertina">
              <img :src="imagePoster(index, listaDaMostrare)" alt="">
            </div>

            <div class="info">
              <div class="title">
                <strong v-if="element.title">
                  Titolo:
                </strong><br>{{element.title}}
                <strong v-if="element.name">
                  Titolo:
                </strong><br>{{element.name}}
              </div>

              <div class="original-title">
                <strong v-if="element.original_title">
                  Titolo originale:
                </strong><br>{{element.original_title}}
                <strong v-if="element.original_name">
                  Titolo originale:
                </strong><br>{{element.original_name}}
              </div>

              <div class="language">
                <strong>Lingua originale:</strong>
                <div class="string-box" v-if="!flagVisibility(index, listaDaMostrare)">
                  {{element.original_language}}
                </div>
                <div class="box-image" v-if="flagVisibility(index, listaDaMostrare)">
                  <img :src="flagLang(index, listaDaMostrare)" alt="">
                </div>
              </div>

              <div class="vote">
                <strong>Voto:</strong><br>
                <div class="star-vote">
                  <i class="fas fa-star yellow-star" v-for="yellowStar in element.yellowStar"></i>
                  <i class="far fa-star" v-for="whiteStar in element.whiteStar"></i>
                </div>
              </div>

              <div class="overview">
                <strong>Overview</strong> <br>
                <div v-if="!overview(index, listaDaMostrare)" class="not-available-overview">
                  Non disponibile
                </div>
                <div v-if="overview(index, listaDaMostrare)" class="available-overview">
                  {{element.overview}}
                </div>
              </div>
            </div>
          </div>
          <!-- /singola card -->
        </div>
        <!-- /container card -->
      </main>
    </div>

  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
