<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>BoolFlix</title>
  </head>
  <body>
    <div id="app" class="container">
      <header>
        <div class="logo-bool">
          <img src="image/logo-bool.png" alt="">
        </div>
        <div class="search">
          <input @keyup.enter="searchAll" type="text" placeholder="cerca qualcosa..." v-model="query">
          <div class="btn-search" @click="searchAll">
            Cerca <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <div class="alert-risultati">{{resultFor}}</div>
      </header>

      <main>
        <!-- container film -->
        <h2 v-if="listaFilm.length > 0">Film</h2>
        <div class="movie-container">
          <!-- singola card film -->
          <div v-for="(movie, index) in listaFilm" class="card movie">
            <div class="copertina">
              <img :src="imagePoster(index, listaFilm)" alt="">
            </div>

            <div class="info">
              <div class="title">
                <strong>Titolo:</strong><br>{{movie.title}}
              </div>

              <div class="original-title">
                <strong>Titolo originale:</strong><br>{{movie.original_title}}
              </div>

              <div class="language">
                <strong>Lingua originale:</strong>
                <div class="string-box" v-if="!flagVisibility(index, listaFilm)">
                  {{movie.original_language}}
                </div>
                <div class="box-image" v-if="flagVisibility(index, listaFilm)">
                  <img :src="flagLang(index, listaFilm)" alt="">
                </div>
              </div>

              <div class="vote">
                <strong>Voto:</strong><br>
                <div class="star-vote">
                  <i class="fas fa-star yellow-star" v-for="yellowStar in movie.yellowStar"></i>
                  <i class="far fa-star" v-for="whiteStar in movie.whiteStar"></i>
                </div>
              </div>

              <div class="overview">
                <strong>Overview</strong> <br>
                <div v-if="!overview(index, listaFilm)" class="not-avaible-overview">
                  Non disponibile
                </div>
                <div v-if="overview(index, listaFilm)" class="avaible-overview">
                  {{movie.overview}}
                </div>
              </div>
            </div>
          </div>
          <!-- /singola card film -->
        </div>
        <!-- /container film -->

        <!-- container serie tv -->
        <h2 v-if="listaSerie.length > 0">Serie TV</h2>
        <div class="series-container">
          <!-- singola card serie tv-->
          <div v-for="(serie, index) in listaSerie" class="card vserie">
            <div class="copertina">
              <img :src="imagePoster(index, listaSerie)" alt="">
            </div>

            <div class="info">
              <div class="title">
                <strong>Titolo:</strong><br>{{serie.name}}
              </div>

              <div class="original-title">
                <strong>Titolo originale:</strong><br>{{serie.original_name}}
              </div>

              <div class="language">
                <strong>Lingua originale:</strong>
                <div class="string-box" v-if="!flagVisibility(index, listaSerie)">
                  {{serie.original_language}}
                </div>
                <div class="box-image" v-if="flagVisibility(index, listaSerie)">
                  <img :src="flagLang(index, listaSerie)" alt="">
                </div>
              </div>

              <div class="vote">
                <strong>Voto:</strong><br>
                <div class="star-vote">
                  <i class="fas fa-star yellow-star" v-for="yellowStar in serie.yellowStar"></i>
                  <i class="far fa-star" v-for="whiteStar in serie.whiteStar"></i>
                </div>
              </div>

              <div class="overview">
                <strong>Overview</strong> <br>
                <div v-if="!overview(index, listaSerie)" class="not-avaible-overview">
                  Non disponibile
                </div>
                <div v-if="overview(index, listaSerie)" class="avaible-overview">
                  {{serie.overview}}
                </div>
              </div>
            </div>

          </div>
          <!-- /singola card serie tv-->
        </div>
        <!-- /container serie tv -->
      </main>
    </div>

  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
