<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>BoolFlix</title>
  </head>
  <body>
    <div id="app" class="container">
      <header>
        <div class="inner-header flex">
          <div class="logo-bool">
            <img src="image/logo-bool.png" alt="">
          </div>
          <div class="menu-scelta flex">
            <div v-for="(element, index) in scelte" @click="changeTab(index)" :class="selectedTab(index)">
              {{element}}
            </div>
          </div>
          <div class="search flex">
            <input @keyup.enter="searchAll" type="text" placeholder="cerca film/serie tv per titolo" v-model="query">
            <div class="btn-search flex" @click="searchAll">
              Cerca <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="box-query-empty">
            <div v-if="queryEmpty()">
              <strong>Qui appariranno i risultati della ricerca</strong>
            </div>
            <div v-if="!queryEmpty() && scelteIDX > 0" class="alert-risultati">
              {{resultFor}}
            </div>
          </div>
        </div>
      </header>

      <main>
        <!-- messaggio di errore -->
        <div v-if="dataListaTrend.length == 0" class="pagina-errore">
          Ops! Qualcosa è andato storto.
          Riprova a caricare la pagina oppure torna più tardi.
        </div>

        <!-- container homepage -->

        <div v-if="flagDisplayHome === true" v-for="(element, index) in listaTrend" class="home-page">
          <!-- /jumbotron -->
          <div class="immagine-suggerita">
            <img :src="imagePoster(listaTrend[index].backdrop_path, 'w1280')" alt="">
          </div>

          <div class="info-homepage">
            <div class="titolo">
              <strong v-if="element.title">
                Titolo:
              </strong> {{element.title}}
              <strong v-if="element.name">
                Titolo:
              </strong> {{element.name}}
            </div>

            <div class="valutazione-home flex mrg-top">
              <strong>Voto:</strong>
              <div class="star-vote">
                <i class="fas fa-star yellow-star" v-for="yellowStar in element.yellowStar"></i>
                <i class="far fa-star" v-for="whiteStar in element.whiteStar"></i>
              </div>
            </div>

            <div class="lingua-home flex mrg-top">
              <strong>Lingua originale:</strong>
              <div class="string-box" v-if="!flagVisibility(index, listaTrend)">
                {{element.original_language}}
              </div>
              <div class="box-image-home" v-if="flagVisibility(index, listaTrend)">
                <img :src="flagLang(index, listaTrend)" alt="">
              </div>
            </div>

            <div class="overview-home mrg-top">
              <strong>Overview:</strong><br>
              <div v-if="overview(index, listaTrend)" class="available-overview">
                {{element.overview}}
              </div>
            </div>
          </div>

          <div class="consiglio">
            <em>Tra i più visti di questa settimana</em>
          </div>
          <!-- /jumbotron -->

          <title class="title-section flex justify-center">Film in primo piano</title>

          <!-- sezione slider homepage film -->
          <div class="slider-container flex">

            <div class="prev" @click="prev(listaFilmHome, listaFilmHomeSlider)">
              <i class="fas fa-angle-left" ></i>
            </div>
            
            <div v-for="(element, index) in listaFilmHomeSlider" class="card">
              <div class="poster-slider">
                <img :src="imagePoster(listaFilmHomeSlider[index].poster_path, 'w342')" alt="">
              </div>
  
              <div class="info-slider">
                <div class="title mrg-top">
                  <strong>Titolo:</strong><br>{{element.title}}
                </div>
  
                <div class="original-title mrg-top">
                  <strong>Titolo originale:</strong><br>{{element.original_title}}
                </div>
  
                <!--* queste sezioni vengono mostrate successivamente, in modo da
                  concludere le chiamate ajax per ottenere i dati su cast e generi,
                  evitando di rallentare il caricamento delle singole cards film /serie *-->
                <div v-if="flagDisplaySection" class="cast mrg-top">
                  <strong>Cast:</strong><br>
                  <div v-if="element.actors.length > 0" v-for="attore in element.actors">
                    <span>{{attore}}</span>
                  </div>
                  <span v-if="element.actors.length === 0">Non disponibile</span>
                </div>
  
                <div v-if="flagDisplaySection && element.generi.length > 0" class="genre mrg-top">
                  <strong>Generi:</strong><br>
                  <div v-for="genere in element.generi">{{genere}}</div>
                </div>
                <!-- ***********************************************************-->
  
                <div class="language mrg-top">
                  <strong>Lingua originale:</strong>
                  <div class="string-box" v-if="!flagVisibility(index, listaFilmHomeSlider)">
                    {{element.original_language}}
                  </div>
                  <div class="box-image" v-if="flagVisibility(index, listaFilmHomeSlider)">
                    <img :src="flagLang(index, listaFilmHomeSlider)" alt="">
                  </div>
                </div>
  
                <div class="vote mrg-top">
                  <strong>Voto:</strong><br>
                  <div class="star-vote">
                    <i class="fas fa-star yellow-star" v-for="yellowStar in element.yellowStar"></i>
                    <i class="far fa-star" v-for="whiteStar in element.whiteStar"></i>
                  </div>
                </div>
  
                <div class="overview mrg-top">
                  <strong>Overview</strong><br>
                  <div v-if="!overview(index, listaFilmHomeSlider)" class="not-available-overview">
                    Non disponibile
                  </div>
                  <div v-if="overview(index, listaFilmHomeSlider)" class="available-overview">
                    {{element.overview}}
                  </div>
                </div>
              </div>
            </div>
            <div class="next" @click="next(listaFilmHome, listaFilmHomeSlider)">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <!-- /sezione slider homepage film -->

          <title class="title-section flex justify-center">Serie TV in primo piano</title>

          <!-- sezione slider homepage serie tv -->
          <div class="slider-container flex">

            <div class="prev" @click="prev(listaSerieHome, listaSerieHomeSlider)">
              <i class="fas fa-angle-left" ></i>
            </div>
            
            <div v-for="(element, index) in listaSerieHomeSlider" class="card">
              <div class="poster-slider">
                <img :src="imagePoster(listaSerieHomeSlider[index].poster_path, 'w342')" alt="">
              </div>
  
              <div class="info-slider">
                <div class="title mrg-top">
                  <strong>Titolo:</strong><br>{{element.title}}
                </div>
  
                <div class="original-title mrg-top">
                  <strong>Titolo originale:</strong><br>{{element.original_title}}
                </div>
  
                <!--* queste sezioni vengono mostrate successivamente, in modo da
                  concludere le chiamate ajax per ottenere i dati su cast e generi,
                  evitando di rallentare il caricamento delle singole cards film /serie *-->
                <div v-if="flagDisplaySection" class="cast mrg-top">
                  <strong>Cast:</strong><br>
                  <div v-if="element.actors.length > 0" v-for="attore in element.actors">
                    <span>{{attore}}</span>
                  </div>
                  <span v-if="element.actors.length === 0">Non disponibile</span>
                </div>
  
                <div v-if="flagDisplaySection && element.generi.length > 0" class="genre mrg-top">
                  <strong>Generi:</strong><br>
                  <div v-for="genere in element.generi">{{genere}}</div>
                </div>
                <!-- ***********************************************************-->
  
                <div class="language mrg-top">
                  <strong>Lingua originale:</strong>
                  <div class="string-box" v-if="!flagVisibility(index, listaSerieHomeSlider)">
                    {{element.original_language}}
                  </div>
                  <div class="box-image" v-if="flagVisibility(index, listaSerieHomeSlider)">
                    <img :src="flagLang(index, listaSerieHomeSlider)" alt="">
                  </div>
                </div>
  
                <div class="vote mrg-top">
                  <strong>Voto:</strong><br>
                  <div class="star-vote">
                    <i class="fas fa-star yellow-star" v-for="yellowStar in element.yellowStar"></i>
                    <i class="far fa-star" v-for="whiteStar in element.whiteStar"></i>
                  </div>
                </div>
  
                <div class="overview mrg-top">
                  <strong>Overview</strong><br>
                  <div v-if="!overview(index, listaSerieHomeSlider)" class="not-available-overview">
                    Non disponibile
                  </div>
                  <div v-if="overview(index, listaSerieHomeSlider)" class="available-overview">
                    {{element.overview}}
                  </div>
                </div>
              </div>
            </div>
            <div class="next" @click="next(listaSerieHome, listaSerieHomeSlider)">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <!-- /sezione slider homepage serie tv -->
        </div>
        <!-- /container homepage -->

        <!-- container card sezione ricerca -->
        <div v-if="flagDisplayHome === false" class="card-container">
          <!-- singola card -->
          <div v-for="(element, index) in listaDaMostrare" class="card">
            <div class="copertina">
              <img :src="imagePoster(listaDaMostrare[index].poster_path, 'w185')" alt="">
            </div>

            <div class="info">
              <div class="title mrg-top">
                <strong v-if="element.title">
                  Titolo:
                </strong><br>{{element.title}}
                <strong v-if="element.name">
                  Titolo:
                </strong><br>{{element.name}}
              </div>

              <div class="original-title mrg-top">
                <strong v-if="element.original_title">
                  Titolo originale:
                </strong><br>{{element.original_title}}
                <strong v-if="element.original_name">
                  Titolo originale:
                </strong><br>{{element.original_name}}
              </div>

              <!--* queste sezioni vengono mostrate successivamente, in modo da
                concludere le chiamate ajax per ottenere i dati su cast e generi,
                evitando di rallentare il caricamento delle singole cards film /serie *-->
              <div v-if="flagDisplaySection" class="cast mrg-top">
                <strong>Cast:</strong><br>
                <div v-if="element.actors.length > 0" v-for="attore in element.actors">
                  <span>{{attore}}</span>
                </div>
                <span v-if="element.actors.length === 0">Non disponibile</span>
              </div>

              <div v-if="flagDisplaySection && element.generi.length > 0" class="genre mrg-top">
                <strong>Generi:</strong><br>
                <div v-for="genere in element.generi">{{genere}}</div>
              </div>
              <!-- ***********************************************************-->

              <div class="language mrg-top">
                <strong>Lingua originale:</strong>
                <div class="string-box" v-if="!flagVisibility(index, listaDaMostrare)">
                  {{element.original_language}}
                </div>
                <div class="box-image" v-if="flagVisibility(index, listaDaMostrare)">
                  <img :src="flagLang(index, listaDaMostrare)" alt="">
                </div>
              </div>

              <div class="vote mrg-top">
                <strong>Voto:</strong><br>
                <div class="star-vote">
                  <i class="fas fa-star yellow-star" v-for="yellowStar in element.yellowStar"></i>
                  <i class="far fa-star" v-for="whiteStar in element.whiteStar"></i>
                </div>
              </div>

              <div class="overview mrg-top">
                <strong>Overview</strong><br>
                <div v-if="!overview(index, listaDaMostrare)" class="not-available-overview">
                  Non disponibile
                </div>
                <div v-if="overview(index, listaDaMostrare)" class="available-overview">
                  {{element.overview}}
                </div>
              </div>
            </div>
          </div>
          <!-- /singola card -->
        </div>
        <!-- /container card sezione ricerca -->
      </main>
    </div>
  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
